:root{

  --bs-primary:#0074c7;
  --bs-primary-rgb:0, 116, 199;

  -bs-secondary:#00497c;
  -bs-secondary-rgb:0, 73, 124;

  --bs-success:#82b864;
  --bs-success-rgb:130, 184, 100;

  --bs-danger:#cd2c2e;
  --bs-danger-rgb:205, 44, 46;

  --bs-light:#f1f8fc;
  --bs-light-rgb:241, 248, 252;

  --bs-dark:#384050;
  --bs-dark-rgb:56, 64, 80;
}

@media (min-width: 768px) {
  .border-md-left{
    border-style:none !important;
    border-left-style: var(--bs-border-style) !important;
    border-left-width: var(--bs-border-width) !important;
    border-left-color: var(--bs-border-color) !important;
  }
}